@import url('fonts/stylesheet.css');
@import url('normalize.css');
*, *::after, *::before{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	line-height: 0.8em;
}
.wrapper{
	max-width: 1000px;
	margin: 0 auto;
	background-color:rgb(228, 228, 228);
	display: flex;
	justify-content: start;

}
.left-side{
	flex:0 1 276px;
	z-index: 10;
	background-color: white;
	box-shadow: 3px 3px 5px 6px rgba(34, 60, 80, 0.12);
}

.logo{
	margin: 0 auto;
	margin-top: 18px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 150px;
	
	margin-bottom: 62px;
	
	

}
.logo__img{
	flex: 0 0 44px;
	margin-bottom: 17px;
}
.logo__img img{
	width: 100%;
	height: 100%;
	
}
.logo__name{
  font-family:Novecento sans wide Bold;
	font-size: 31px;
  font-weight: 900;
  font-stretch: normal;
  letter-spacing: -0.75px;
  color: #7d7c7d;
  text-transform: uppercase;
}
.logo__name span{
  color: #be6cb3;
}
.menu{
	max-width: 230px;
	margin-left: auto;
	margin-right: 0;
}
.menu__list{
	list-style-type: none;
	font-family: Segoe WPBold;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.4px;
  color: #7d7c7d;
  text-transform: uppercase;
	margin-bottom: 100px;
	flex: 0 1 230px;
  cursor: pointer;

}
.menu__item{
	display: flex;
	justify-content: start;
	align-items: center;
	height: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: white;
	transition: background-color .5s linear, color .5s linear ;
	margin-bottom: 10px;
}
.menu__item div{
	width: 27px;
	height: 27px;
	background-color: #7d7c7d;
	border-radius: 50%;
	margin:0 14px;
	transition: background-color .5s linear;
}
._pc .menu__item:hover{
	background-color: #88b9d4;
	color:white;
}
._pc .menu__item:hover div{
	background-color: white;
}
 ._pc .menu__item:hover .icon-shape-home::before, ._pc .menu__item:hover .icon-shape-video::before, ._pc .menu__item:hover .icon-shape-img::before, ._pc .menu__item:hover .icon-shape-documents::before{
	color: #97c2da;
}
._touch .menu__item:active{
	background-color: #88b9d4;
	color:white;
}
._touch .menu__item:active div{
	background-color: white;
}
 ._touch .menu__item:active .icon-shape-home::before, ._touch .menu__item:active .icon-shape-video::before, ._touch .menu__item:active .icon-shape-img::before, ._touch .menu__item:active .icon-shape-documents::before{
	color: #97c2da;
}
.menu__item:last-child{
	margin-bottom: 0;
}

.about-us{
	font-family: PTSans Regular;
	color: 	#949494;
	margin: 0 auto;
	max-width: 197px;
	margin-bottom: 44px;

}
.about-us__title{
	font-size: 26px;
	margin-bottom: 21px;
}
.about-us__text{
	font-size: 16px;
	line-height: 1.7em;
	letter-spacing: -0.7px;

}
.tags{
	margin:0 auto;
	width: 180px;
	
}
.tags__title{
	text-align:start;
	font-size: 30px;
	color: #949494;
	font-family: PTSans Regular;
	margin-bottom: 24px;
}

.tags__title::before{
	content:url(pictures/shape-18.svg);
	margin-left: 8px;
	margin-right: 10px;
}
.tags__container{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -15px;
}
.tags__tag{
	flex: 0 0 51px;
	height: 24px;
	background-color: #e9e9e9;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	color: #a5a4a4;
	font-family: PTSans Regular;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
.right-side{
	flex: 1 1 724px;
	background-color: #e9e9e9;
}
.header-up{	 
	content:'';
	height: 7px;
	background-color: #87b8d2;
	width: 100%;
	
}
.header{
	height: 73px;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	margin-bottom: 44px;
}
.header__logo{
	white-space: nowrap;
	
}
.header__image{
	display: inline-block;
	margin-right: 22px;
}
.header__name{
	color:#545454;
	font-size: 30px;
	display: inline-block;
	font-family: Segoe UI SemiBold;
	letter-spacing: -0.7px;
}
@media (max-width:767px){
	.header__name{
		display: none;
	}
}
@media (min-width:767px){
	.header__name{
		display: inline-block;
	}
}
.header__name span{
	font-family: Segoe UI Bold;
}
.header__links{
	display: flex;
	flex-wrap: wrap;
	min-width: 100px;
}
.header__link:first-child{
	border-left:solid 1px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 15%;
	border-bottom-left-radius:15%;
}
.header__link:last-child{
	border-top-right-radius: 15%;
	border-bottom-right-radius:15%;
}
.header__link{
	background-color: #fff;
	border-top: solid 1px rgba(0, 0, 0, 0.1); ;
	border-right: solid 1px rgba(0, 0, 0, 0.1);;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	height: 30px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.header__link_color{
	background-color: #87b8d2;
}
.header__img{
	max-width: 100%;
	max-height: 100%;

}
.video{
	margin: 0 auto;
	width: 100%;
	max-width: 724px;
	padding-left: 3%;
	padding-right: 4%;
	margin-bottom: 7px;
}
.video__item{
	position: relative;
	background-color:#f1f1f1;
	border:solid 1px rgba(0, 0, 0, 0.1);
	padding-bottom: 44%;
}
.video__play-button{
	position: absolute;
	left: 44%;
	top:36%;
	z-index: 10;
	width: 13%;
	height: 29%;
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;


}
.video__play-button img{
	width: 100%;
	height: 100%;
}

.video__item video{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.video__player{	
	background-color: #88b9d4;
	height: 32px;
	display: grid;
	grid-template-columns: 55px 1fr 20px;
}
.video__button{
	background-color: #71a4c1;
	display:flex;
	justify-content: center;
	align-items: center;

}
.video__button img{
	cursor: pointer;
}
.video__scroll{

}
.range{
	-webkit-appearance: none;
	display: block;
	width: 90%;
	margin: 15px auto 15px;
	
	
}
.range:focus{
	outline: none;
}
.range::-ms-track{
	 width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range::-webkit-slider-thumb{
	-webkit-appearance: none;
	 border: 1px solid #5e90ae;
  height: 8px;
  width: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
  
}
.range::-webkit-slider-runnable-track{
	height: 2px;
	
}
.video__volume{
	background-color: #71a4c1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video__lines{
	
	display: block;
	width: 10px;
	height: 17px;
	position: relative;
	cursor: pointer;
	
}
.video__lines span:nth-child(1){
	position: absolute;
	bottom: 0px;
	left: 1px;
	content: '';
	height: 3px;
	background-color: white;
	width: 1px;
}
.video__lines span:nth-child(2){
	position: absolute;
	bottom: 0px;
	left: 4px;
	content: '';
	height: 7px;
	background-color: white;
	width: 1px;
}.video__lines span:nth-child(3){
	position: absolute;
	bottom: 0px;
	left: 7px;
	content: '';
	height: 12px;
	background-color: white;
	width: 1px;
}.video__lines span:nth-child(4){
	position: absolute;
	bottom: 0px;
	left: 10px;
	content: '';
	height: 17px;
	background-color: #b9d2e1;
	width: 1px;
}
.video-comment{
	
	margin: 0 auto;
	width: 100%;
	max-width: 724px;
	padding-left: 3%;
	padding-right: 4%;
	margin-bottom: 36px;
}
.video-comment__item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 1px #d1d1d1;
	padding:6px 5px 4px 9px;
	background-color: #d8d8d8;
}
.video-comment__comment{
	font-family: Sofia Pro Light Az;
	font-size: 16px;
	color: #a2a1a1;
	letter-spacing: -0.6px;
	font-weight: 900;
	
}
.video-comment__info{
	font-size: 12px;
	display: flex;
	flex: 0 1 117px;
	justify-content: space-between;
	align-items: center;
	color: #85b6d1;
	flex-wrap: nowrap;
	height: 18px;
}
.video-comment__links{
	white-space: nowrap;
	height: 100%;
}
.video-comment__links img{
	margin-right: 7px;
}
.video-comment__links p{
	height: 100%;
	display: inline-block;
	line-height: 18px;
}
.video-comment__likes{
	white-space: nowrap;
	height: 100%;
}
.video-comment__likes img{
	margin-right: 7px;
}
.video-comment__likes p{
	height: 100%;
	display: inline-block;
	line-height: 18px;
}
.video-comment__share{
	height: 100%;

}
.gallery{
	padding: 0 30px;
}
.gallery__container{
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
}
.gallery__view{
	height: 30px;
	color: #8f8f8f;
	font-size: 15px;
	display: flex;
	justify-content: end;
	align-items: center;
	font-family: Sofia Pro Light Az;
	letter-spacing: -0.5px;
	margin-bottom: 28px;


}
.gallery__view p{
	margin-right: 9px;
	height: 16px;
}
.gallery__button-vertical-view{
	width: 40px;
	height: 30px;
	background-color: #b1c7d3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #92bbd0;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
	cursor: pointer;

}
.gallery__button-vertical-view img{
	vertical-align: middle;
}
.gallery__button-square-view{
	width: 40px;
	height: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #bebebe;
	border-bottom-right-radius: 10%;
	border-top-right-radius: 10%;
	cursor: pointer;
	background-color: #c6c6c6;
}
.gallery__item{
	margin-bottom: 54px;
	padding-bottom: 35%;
	position: relative;
	border: 1px solid #cfcfcf;
}
.gallery__item:last-child{
	margin-bottom: 44px;
}
.gallery__item:nth-child(3) .gallery__content .gallery__video{
	background-image:url("pictures/bg-1.webp");
}
.gallery__content{
	display: grid;
	grid-template-areas:
	"video content"
	"video arrow";
	grid-template-columns:0.43fr 0.57fr;
	grid-template-rows: 1fr 33px;
	height: 100%;
	position: absolute;
	background-color: white;
}
.gallery__video{
	flex: 0 1 260px;
	height: 100%;
	background-image:url("pictures/bg-2.webp");
	background-color: #98b5c5;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: video;
}
.gallery__main-picture{
	flex-shrink: 1;
}
.gallery__sub-picture{
	position: absolute;
	left: -30px;
	height: 60px;
	width: 60px;
	background-color: #97c2da;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery__sub-picture img{
	height: 32px;
	width: 23px;

}
.gallery__card{
	flex: 0 1 340px;
	padding-left: 18px;
	padding-top: 9px;
	overflow: auto;
	grid-area: content;
}
.gallery__title{
	font-size: 24px;
	font-family: Sofia Pro Light Az;
	word-spacing: -2px;
	line-height: 27px;
	margin-bottom: 16px;
}
.gallery__info{
	font-family: Arial, Helvetica, sans-serif;
	color: #727272;
	font-size: 9px;

}
.gallery__list{
	list-style-type: none;
	display:flex;
	align-items: center;
	margin-bottom: 5px;

}
.gallery__list li:nth-child(1){
	margin-right: 18px ;
}
.gallery__list li:nth-child(1)::before{
	content:url(pictures/shape-3.svg);
	margin-left: 12px;
	margin-right: 4px;
}
.gallery__list li:nth-child(2){
	margin-right: 10px;
}
.gallery__list li:nth-child(2)::before{
	content:url(pictures/shape-4.svg);
	margin-right: 5px;
}
.gallery__list li:nth-child(3){
}
.gallery__list li:nth-child(3)::before{
	content:url(pictures/shape-5.svg);
	margin-right: 7px;

}
.gallery__line{
	content: '';
	max-width: 303px;
	border: 1px solid #ededed;
	height: 3px;
	margin-right: 18px;
	margin-bottom: 14px;
}
.gallery__description{
	color: #727272;
	font-family: PTSans Regular;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.4px;
	height: 60px;
}
.gallery__arrow{
	width: 100%;
	overflow: hidden;
	grid-area: arrow;
	display: flex;
	justify-content: end;
}
.gallery__arrow div {
	position: relative;
	top: 5px;
	left: 32px;
	cursor: pointer;
	height: 66px;
	width: 66px;
	border-radius: 50%;
	background-color: #dddddd;
	
}
.gallery__arrow div img{
	position: absolute;
	top: 14px;
	left: 15px;
}
.footer{
	max-width: 1000px;
	margin: 0 auto;
	height: 76px;
}
.container3{
	height: 100%;
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__info{
	color: #9c9c9c;
	font-family: PTSans Regular;
	font-size: 14px;
	
}
.footer__info p{
	margin-bottom: 6px;
}
.footer__list{
	text-decoration: none;
	white-space: nowrap;
}
.footer__list li{
	display: inline-block;
	cursor: pointer;
	padding: 0 3px;
	border-right: 1px solid #9c9c9c;
}
.footer__list li:first-child{
	padding-left: 0;
}
.footer__list li:last-child{
	padding-right: 0;
	border-right: none;
}
.footer__links{
	width: 124px;
	display: flex;
	justify-content: space-between;
}
